# Konfigurasi Server
PORT=3000

# Konfigurasi Database Prisma
DATABASE_URL="postgresql://postgres:root@localhost:5432/wms_stechoq?schema=public"
DIRECT_URL="postgresql://postgres:root@localhost:5432/wms_stechoq?schema=public"

# Konfigurasi Keamanan JWT
JWT_SECRET=0aa23e17811b316ccc02b9471dc7e87061080ff54ac1c5a26e4cc72be41a6a74e61b5ca36a78f195ef9eaf3a2c7070dae459f9c2a1ed944e50f601f03636da41
JWT_EXPIRES_IN=8h
